@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
  --red: #do1c28;
  --gray: #2e2e2e;
}

*{
  margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

button{
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
}

.container{
  margin: auto;
  max-width:1280px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

nav .logo img {
  width: 80px;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin-left: auto;
  margin-right: 40px;
}

nav ul li {
  cursor: pointer;
  font-weight: 600;
}

nav button {
  padding: 10px 20px;
  cursor: pointer;
  color: red;
  background-color: beige;
}

.hero{
  display: flex;
  align-items: center;
  height: calc(100vh-72px);
}

.hero-content{
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.hero h1{
  font-weight: 750;
  line-height: 102px;
  font-size: 108px;
}

.hero p {
  font-weight: 500;
  color: grey;
  max-width: 400px;
}

.hero btn {
  display: flex;
  gap: 40px;
}

.hero-btn button{
  font-size: 24px;
  background-color: var(--gray); 
  gap: 40px;
}

.secondary-btn {
  background: transparent;
  color: black;
  border: 1px solid gray;
}

.shopping p{
  font-size: 14px;
  margin-bottom: 8px;
}

.brand-icons{
  display: flex;
  gap: 16px;
}

.Hero-image img {
  display: block;
  width: 380px;     
  height: 380px;     
  border-radius: 50%;
  object-fit: cover; 
  transform: translateX(-60px);
} 













